@model MvcApplication1.Models.Category

<table>
    <tr>
        <th>
            Sub-Categorías
        </th>
    </tr>

@foreach (var item in Model.SubCategories) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
